<div class="w-50 m-auto">
<h1>New category</h1>
</div>
<%= render "form", category: @category %>

<br>

<div class="w-50 m-auto">
<div>
  <%= link_to "Back to categories", categories_path %>
</div>
</div>
